<p id="notice"><%= notice %></p>

<h1>Linguagens <span><%= link_to 'Nova Língua', new_language_path, class: 'btn btn-success' %></span></h1>

<table class="table table-hover text-left">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Ação</th>
    </tr>
  </thead>

  <tbody>
    <% @languages.each do |language| %>
      <tr>
        <td><%= language.name %></td>
        <td>
          <%= link_to 'Exibir', language, class: 'btn btn-info btn-sm' %>
          <%= link_to 'Editar', edit_language_path(language), class: 'btn btn-warning btn-sm' %>
          <%= link_to 'Excluir', language, method: :delete, class: 'btn btn-danger btn-sm',  data: { confirm: 'Tem certeza que deseja excluir?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>