<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Livro" %>
    <%= form.select :book_id, Book.all.order(:title).collect {|livro| [livro.title, livro.id]} %>
  </div>

  <div class="form-group">
    <%= form.label 'Início da reserva:', for: 'booking_bookingStartDate' %>
    <input type="date" class="form-control" name="booking[bookingStartDate]" id="booking_bookingStartDate" value="<%= @booking.bookingStartDate %>">
  </div>

  <div class="form-group">
    <%= form.label 'Fim da reserva:', for: 'booking_bnookigEndDate' %>
    <input type="date" class="form-control" name="booking[bnookigEndDate]" id="booking_bnookigEndDate" value="<%= @booking.bnookigEndDate %>">
  </div>

  <div class="field">
    <%= form.label "Usuário" %>
    <%= form.select :user_id, User.all.order(:name).collect {|usuario| [usuario.name, usuario.id]} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
