<p id="notice"><%= notice %></p>

<p>
  <strong>Livro:</strong>
  <%= @booking.book.title %>
</p>

<p>
  <strong>Inicio da reserva:</strong>
  <%= @booking.bookingStartDate %>
</p>

<p>
  <strong>Fim da reserva:</strong>
  <%= @booking.bnookigEndDate %>
</p>

<p>
  <strong>Usuário:</strong>
  <%= @booking.user.name %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
