<p id="notice"><%= notice %></p>

<h1>Bibliotecas <span><%= link_to 'Nova Biblioteca', new_library_path, class: 'btn btn-success' %></span></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th>Ação</th>
    </tr>
  </thead>

  <tbody>
    <% @libraries.each do |library| %>
      <tr>
        <td><strong><%= library.name %></strong><td>
        <td style="width: 20%">
        <%= link_to 'Exibir', library, class: 'btn btn-info btn-sm' %>
        <%= link_to 'Editar', edit_library_path(library), class: 'btn btn-warning btn-sm' %>
        <%= link_to 'Excluir', library, method: :delete, class: 'btn btn-danger btn-sm',  data: { confirm: 'Tem certeza que deseja excluir?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
