<p id="notice"><%= notice %></p>

<h1>Estantes <span><%= link_to 'Nova Estante', new_bookcase_path, class: 'btn btn-success' %></span></h1>

<table class="table table-hover text-left">
  <thead>
    <tr>
      <th>Name</th>
      <th>Biblioteca</th>
      <th>Ação</th>
    </tr>
  </thead>

  <tbody>
    <% @bookcases.each do |bookcase| %>
      <tr>
        <td><%= bookcase.name %></td>
        <td><%= bookcase.library.name %></td>
        <td>
          <%= link_to 'Exibir', bookcase, class: 'btn btn-info btn-sm' %>
          <%= link_to 'Editar', edit_bookcase_path(bookcase), class: 'btn btn-warning btn-sm' %>
          <%= link_to 'Excluir', bookcase, method: :delete, class: 'btn btn-danger btn-sm',  data: { confirm: 'Tem certeza que deseja excluir?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
