<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-9">
            <h5>
              <strong>Detalhamento da estante</strong>
              <h2><small>Nome:</small><strong><%= @bookcase.name  %></strong></h2>
              <p>
                <strong>Biblioteca:</strong>
                <%= @bookcase.library.name %>
              </p>
            </h5>
          </div>
          <div class="col-md-3">
            <%= link_to 'Editar', edit_bookcase_path(@bookcase), class: 'btn btn-warning btn-sm' %>
            <%= link_to 'Voltar', bookcases_path , class: 'btn btn-info btn-sm' %>
          </div>
        </div>

        <!--        <h2><small>Título:</small><strong><%#= @loan.book.title %></strong></h2>-->
      </div>
    </div>
  </div>
</div>
