<%= form_with(model: devolution, local: true) do |form| %>
  <% if devolution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(devolution.errors.count, "error") %> prohibited this devolution from being saved:</h2>

      <ul>
      <% devolution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Empréstimo" %>
    <%= form.select :loan_id, Loan.all.order(:returnDate).collect {|emprestimo| ['Nome: ' + emprestimo.user.name + ' / Livro: ' + emprestimo.book.title, emprestimo.id]} %>
  </div>

  <div class="field">
    <%= form.label :devolutionDate %>
    <%= form.date_select :devolutionDate, id: :devolution_devolutionDate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
