<p id="notice"><%= notice %></p>

<h1>Devolutions</h1>

<table>
  <thead>
    <tr>
      <th>Livro</th>
      <th>Usuário</th>
      <th>Emprestado em</th>
      <th>Devolvido em</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @devolutions.each do |devolution| %>
      <tr>
        <td><%= devolution.loan.book.title%></td>
        <td><%= devolution.loan.user.name %></td>
        <td><%= devolution.loan.loanDate %></td>
        <td><%= devolution.devolutionDate %></td>
        <td><%= link_to 'Show', devolution %></td>
        <td><%= link_to 'Edit', edit_devolution_path(devolution) %></td>
        <td><%= link_to 'Destroy', devolution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Devolution', new_devolution_path %>
