<!DOCTYPE html>
<html>
  <head>
    <title>Trabalho1processo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-fluid">
    <p id="alert"><%= alert %></p>
    <div class="row">
      <div class="col-md-2">
        <%= render 'layouts/menu' %>
      </div>
      <div class="col-md-10">
        <%= yield %>
      </div>
    </div>

<!--    <p id="notice"><%#= notice %></p>-->


  </div>

  </body>
</html>
